
.nav-link:hover{
    text-decoration: underline;
    text-decoration-color:rgb(255, 255, 255) ;
    margin-top: 1px;
}
.up-banner{
    background-color: rgb(9, 59, 9);
}
.carousel-content{
    left: 13%;
    top: 18%;
}
.lla{
    background-image: url(car1.jpg);
}